



<div class="card-group grid-container" >
  <div class="card col-sm-4" style="width:50px" align="left">
    <img class="card-img-top " src="..\assets\image\avatar2.png" alt="Card image" style="width:100%;">
    <div class="card-body">
      <h4 class="card-title">Name:John</h4>
      <p class="card-text">course offered: <b>Java</b><br>Rating:<span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span></p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card col-sm-4 " align="center" style="width:50px;position: relative;">
    <img class="card-img-top " src="..\assets\image\avatar2.png" alt="Card image" style="width:100%; ">
    <div class="card-body">
      <h4 class="card-title">Name:Johny</h4>
      <p class="card-text">course offered:<b>java</b><br>Rating:<span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        </p>
       

      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card col-sm-4" align="right" style="width:70px">
    <img class="card-img-top" src="..\assets\image\avatar2.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Name:Janardhan</h4>
      <p class="card-text">course offered:<b>java</b><br>Rating:<span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>

<div class="card col-sm-4" align="right" style="width:70px">
  <img class="card-img-top" src="..\assets\image\avatar2.png" alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title">Name:James</h4>
    <p class="card-text">course offered:<b>java</b><br>Rating:<span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span></p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
